# Lines starting with # are treated as comments (or with whitespaces+#).
# It doesn't matter if you use capital letters or not.
# It doesn't matter if you use underscore or camel notation for keys, e.g. episode_timeout is the same as episodeTimeout.

doom_scenario_path = deathmatch.wad

# Rendering options
screen_resolution = RES_640X480
screen_format = CRCGCB
render_hud = true
render_crosshair = false
render_weapon = true
render_decals = false
render_particles = false

# make episodes finish after 4200 actions (tics)
episode_timeout = 4200

living_reward = -0.008
death_penalty = 1

# Available buttons
available_buttons = 
	{
        MOVE_FORWARD
        MOVE_BACKWARD
        MOVE_LEFT
        MOVE_RIGHT
        TURN_LEFT
        TURN_RIGHT
        SPEED

        ATTACK

        SELECT_WEAPON1 
        SELECT_WEAPON2 
        SELECT_WEAPON3 
        SELECT_WEAPON4 
        SELECT_WEAPON5
        SELECT_WEAPON6
	}

# Game variables that will be in the state
# available_game_variables =
# 	{
#         KILLCOUNT
#         HEALTH
#         ARMOR
#         SELECTED_WEAPON
#         SELECTED_WEAPON_AMMO
#     }
mode = PLAYER
